@import "variables"

body
	font-family: 'RobotoSlab-Regular', serif , 'Inter', sans-serif
	background-color: $whiteColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh

*a
	text-decoration: none
.container-xl
	max-width: 1140px
	margin-right: auto
	margin-left: auto

.container-lg
	max-width: 1080px
	margin-right: auto
	margin-left: auto


.container-md
	max-width: 940px
	margin-right: auto
	margin-left: auto

.container-sm
	max-width: 840px
	margin-right: auto
	margin-left: auto


//header start
.header
	margin-bottom: 92px


	.header-nav-group
		padding: 30px 0
		//position: relative
		//z-index: 102


		.nav-group
			display: flex


			.nav-link-active
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 600
				color: $darkColor

			.nav-link
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 500
				color: $darkLightColor
				margin-left: 22px
		.nav
			flex-wrap: nowrap

			.nav-link
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 500
				//font-family: 'RobotoSlab-Regular', sans-serif
				color: $darkLightColor
				margin-left: 34px

		.header-logo
			margin-right: 126px

.section-back
	.background
		background: url("../img/background.png") right top / cover no-repeat
		height: 850px
		width: 850px
		float: right
		margin-top: -200px

//intro
.section-intro
	margin-bottom: 135px
	margin-top: 200px

	.wrapper-intro
		padding: 1px 11px

		.intro-text
			font-family: 'Inter', sans-serif
			font-weight: 400
			//font-family: 'RobotoSlab-Thin', sans-serif
			font-size: 43px
			line-height: 69px
			color: $darkColor
			margin-bottom: 5px
			max-width: 295px

		.intro-title
			font-size: 75px
			font-family: 'Inter', sans-serif
			font-weight: 600
			line-height: 91px
			margin-bottom: 36px

		.intro-mini-text
			font-size: 24px
			font-family: 'Inter', sans-serif
			font-weight: 500
			line-height: 40px
			margin-bottom: 40px

	.wrapper-btn
		margin-bottom: 160px

		.link
			font-size: 18px
			font-family: 'Inter', sans-serif
			font-weight: 500
			line-height: 23px
			padding: 15px 25px
			color: $darkColor
			margin-left: 1px

	.wrapper-mini-logo
		max-width: 537px
		padding-top: 20px


//Section-worth
.section-worth
	margin-bottom: 150px

	.wrapper-worth


		.worth-title
			font-size: 42px
			font-family: 'Inter', sans-serif
			font-weight: 600
			line-height: 51px
			text-align: center
			margin-bottom: 68px

		.item


			.worth-number
				font-size: 32px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 38px
				text-align: center
				display: block
				margin-bottom: 12px

			.worth-text
				font-size: 14px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 20px
				text-align: center
//section-find
.section-find

	.wrapper-section-find
		padding: 120px 50px

		.wrapper-group-find
			max-width: 400px
			padding-left: 50px
			padding-top: 24px

			.title-find
				font-size: 42px
				font-family: 'Inter', sans-serif
				font-weight: 600
				line-height: 52px
				color: $darkLightColor
				margin-bottom: 40px
				max-width: 330px

		.find-item
			max-width: 458px
			max-height: 265px
			padding: 50px 80px 50px 50px
			border-bottom: 5px solid
			border-radius: 5px
			border-image: linear-gradient(to right, rgba(233, 255, 240, 0.39), #41F5C0, #41F5C0, rgba(242, 245, 243, 0.13)) 47% 0

			.icon
				font-size: 18px
				color: $greenColor
				margin-bottom: 15px

			.title-item
				font-size: 23px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 35px
				color: $darkColor
				margin-bottom: 17px
				padding-top: 15px

			.find-text
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 400
				line-height: 27px
				color: $darkColor
				max-width: 325px

//section-item
.section-item
	margin-bottom: 120px

	.item-title
		font-size: 31px
		font-family: 'Inter', sans-serif
		font-weight: 500
		line-height: 38px
		color: $darkColor
		text-align: center
		margin-bottom: 40px

	.item-text
		font-size: 18px
		font-family: 'Inter', sans-serif
		font-weight: 400
		line-height: 27px
		color: $darkColor
		text-align: center
		max-width: 530px
		margin: 0 auto 40px

	.item-full
		margin-bottom: 60px
		.item
			text-align: center
			padding-top: 90px
			min-width: 372px
			border: 1px solid $ultralightColor
			border-radius: 5px

			.item-figure
				width: 70px
				height: 70px
				background-color: $primaryLightColor
				text-align: center
				display: block
				margin: 0 auto 30px
				border-radius: 6px

			.icon
				font-size: 28px
				padding: 21px
				color: $primaryColor

//section-start
.section-mini-start
	margin-bottom: 250px

	.title-start
		font-size: 31px
		font-family: 'Inter', sans-serif
		font-weight: 500
		line-height: 38px
		color: $darkColor
		margin-bottom: 15px

	.start-text
		font-size: 18px
		font-family: 'Inter', sans-serif
		font-weight: 400
		line-height: 28px
		color: $darkColor

//section-review
.section-review
	margin-bottom: 170px

	.title-review
		font-size: 42px
		font-family: 'Inter', sans-serif
		font-weight: 600
		line-height: 51px
		color: $darkColor
		text-align: center
		margin-bottom: 40px

	.text-review-title
		font-size: 18px
		font-family: 'Inter', sans-serif
		font-weight: 400
		line-height: 27px
		color: $darkColor
		text-align: center
		margin-bottom: 60px

	.item-review-full


		.item-review
			text-align: center
			border-radius: 13px
			border: 1px $infoColor solid
			padding-top: 35px

			.btn
				margin-bottom: 56px
				border: 1px solid $goldColor
				border-radius: 13px
				color: $liteGoldColor
				width: 84px
				height: 50px
				padding: 10px

			.icon
				font-size: 17px
				color: $liteGoldColor
				margin: 0 auto
				text-align: center
				padding-right: 10px

