@import "variables"

body
	font-family: 'RobotoSlab-Regular', serif , 'Inter', sans-serif
	background-color: $mainColor
	//background-color: $lightColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh

a
	text-decoration: none

.container
	max-width: 1140px

//header start
#site-header
		position: fixed
		height: 120px
		background: rgba(255, 255, 255, 0.47)
		top: 0
		width: 100%
		z-index: 100
		transition: all .3s ease
		box-shadow: 0 1px 25px rgba(0,0,0, .1)
		border: 1px solid $darkColor

#site-header.hide
	top: -120px

.header
	margin-bottom: 92px
	height: 100px
	background: #fff
	top: 0
	width: 100%
	z-index: 100
	transition: all .3s ease
	box-shadow: 0 1px 25px rgba(0,0,0, .1)

	.header-nav-group
		padding: 30px 0
		//position: relative
		//z-index: 102


		.nav-group
			display: flex


			.nav-link-active
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 600
				color: $darkColor

			.nav-link
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 500
				color: $darkLightColor
				margin-left: 22px
		.nav
			flex-wrap: nowrap

			.nav-link
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 500
				//font-family: 'RobotoSlab-Regular', sans-serif
				color: $darkLightColor
				margin-left: 34px

		.header-logo
			margin-right: 126px

.section-background
	background: url("../img/background.png") no-repeat right top
	background-size: 905px 905px

//intro
.section-intro
	margin-bottom: 135px
	padding-top: 200px

	.wrapper-intro
		padding: 1px 11px

		.intro-text
			font-family: 'Inter', sans-serif
			font-weight: 400
			//font-family: 'RobotoSlab-Thin', sans-serif
			font-size: 43px
			line-height: 69px
			color: $darkColor
			margin-bottom: 5px
			max-width: 295px

		.intro-title
			font-size: 75px
			font-family: 'Inter', sans-serif
			font-weight: 600
			line-height: 91px
			margin-bottom: 36px

		.intro-mini-text
			font-size: 24px
			font-family: 'Inter', sans-serif
			font-weight: 500
			line-height: 40px
			margin-bottom: 40px

	.wrapper-btn
		margin-bottom: 160px

		.link
			font-size: 18px
			font-family: 'Inter', sans-serif
			font-weight: 500
			line-height: 23px
			padding: 15px 25px
			color: $darkColor
			margin-left: 1px

	.wrapper-mini-logo
		max-width: 537px
		padding-top: 20px


//Section-worth
.section-worth
	margin-bottom: 150px

	.wrapper-worth


		.worth-title
			font-size: 42px
			font-family: 'Inter', sans-serif
			font-weight: 600
			line-height: 51px
			text-align: center
			margin-bottom: 68px

		.item


			.worth-number
				font-size: 32px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 38px
				text-align: center
				display: block
				margin-bottom: 12px

			.worth-text
				font-size: 14px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 20px
				text-align: center
//section-find
.section-find
	margin-bottom: 138px

	.wrapper-section-find
		padding: 120px 50px
		color: $minimalLightColor

		.wrapper-group-find
			max-width: 400px
			padding-left: 50px
			padding-top: 24px

			.title-find
				font-size: 42px
				font-family: 'Inter', sans-serif
				font-weight: 600
				line-height: 52px
				color: $darkLightColor
				margin-bottom: 40px
				max-width: 330px

		.find-item
			max-width: 458px
			max-height: 265px
			padding: 50px 80px 50px 50px
			border-bottom: 5px solid
			border-radius: 5px
			border-image: linear-gradient(to right, rgba(233, 255, 240, 0.39), #41F5C0, #41F5C0, rgba(242, 245, 243, 0.13)) 47% 0

			.icon
				font-size: 18px
				color: $greenColor
				margin-bottom: 15px

			.title-item
				font-size: 23px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 35px
				color: $darkColor
				margin-bottom: 17px
				padding-top: 15px

			.find-text
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 400
				line-height: 27px
				color: $darkColor
				max-width: 325px

//section-item
.section-item
	margin-bottom: 120px

	.item-title-had
		font-size: 42px
		font-family: 'Inter', sans-serif
		font-weight: 600
		line-height: 51px
		color: $darkColor
		text-align: center
		margin-bottom: 40px

	.item-text
		font-size: 18px
		font-family: 'Inter', sans-serif
		font-weight: 400
		line-height: 33px
		color: $darkColor
		text-align: center
		max-width: 530px
		margin: 0 auto 60px

	.item-full
		margin-bottom: 60px

		.item
			text-align: center
			padding: 90px 0 90px
			min-width: 372px
			border: 1px solid $ultralightColor
			border-radius: 5px
			color: $lightColor

			.icon
				width: 70px
				height: 70px
				background-color: $primaryLightColor
				text-align: center
				display: block
				margin: 0 auto 30px
				border-radius: 6px
				font-size: 28px
				padding: 21px
				color: $primaryColor


			.item-title
				font-size: 31px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 38px
				color: $darkColor
				margin-bottom: 20px

			.item-text-mini
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 27px
				color: $darkColor
				margin-bottom: 20px



//section-start
.section-mini-start
	margin-bottom: 130px

	.title-start
		font-size: 31px
		font-family: 'Inter', sans-serif
		font-weight: 500
		line-height: 38px
		color: $darkColor
		margin-bottom: 15px

	.start-text
		font-size: 18px
		font-family: 'Inter', sans-serif
		font-weight: 400
		line-height: 28px
		color: $darkColor

//section-review
.section-review
	margin-bottom: 80px
	padding: 120px 0
	color: $minimalLightColor

	.title-review
		font-size: 42px
		font-family: 'Inter', sans-serif
		font-weight: 600
		line-height: 59px
		color: $darkColor
		text-align: center
		margin-bottom: 40px

	.text-review-title
		font-size: 18px
		font-family: 'Inter', sans-serif
		font-weight: 400
		line-height: 31px
		color: $darkColor
		text-align: center
		margin: 0 auto 60px
		max-width: 529px

	.item-review-full


		.item-review
			text-align: center
			border-radius: 13px
			border: 1px $infBorderColor solid
			padding: 35px 40px 40px

			.btn
				margin-bottom: 50px
				border: 1px solid $goldColor
				border-radius: 13px
				color: $liteGoldColor
				width: 84px
				height: 50px
				padding: 10px


			.icon
				font-size: 17px
				color: $liteGoldColor
				margin: 0 auto
				text-align: center
				padding-right: 10px

			.text-review
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 400
				line-height: 28px
				color: $darkColor
				margin-bottom: 78px

			.item-photo
				margin-bottom: 12px

			.item-photo-name
				font-size: 18px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 27px
				color: $darkColor
				margin-bottom: 10px

			.item-photo-text
				font-size: 14px
				font-family: 'Inter', sans-serif
				font-weight: 500
				line-height: 21px
				color: $darkColor


.footer
	padding: 25px 0

	.footer-mail
		font-size: 24px
		font-family: 'Inter', sans-serif
		font-weight: 500
		line-height: 35px
		color: $darkColor

	a
		margin-right: 40px
		font-size: 25px
