@import "variables"

@media (max-width: 1199.98px)

    .row-padding-15
        margin-left: -12px !important
        margin-right: -12px !important

        & > *
            padding-left: 12px !important
            padding-right: 12px !important

@media (max-width: 1199.98px)

    .background-img
        background-image: none

    .section-intro
        padding-left: 50px
        padding-right: 50px

    .section-intro
        padding-bottom: 0

@media (max-width: 991.98px)

    .header
        .header-nav-group

            .header-logo
                margin-right: 0

            .nav
                .language-group
                    padding: 4px 30px

                    .language
                        padding: 6px


    .section-intro
        padding-top: 100px

    #site-header
        background: $mainColor

    .overlay:before
        background: none

    .section-intro

        .wrapper-intro
            padding-top: 50px
            text-align: center

            .intro-text
               max-width: 900px

            .intro-title
                margin-bottom: 20px

        .wrapper-img-intro
            max-width: 300px


    .section-review

        .item-review-full

            .item-review

                .wrapper-tel
                    text-align: center

    .section-worth
        padding-top: 0
        padding-bottom: 0
        margin-bottom: 80px

    .section-find

        .wrapper-section-find
            padding: 50px 100px

            .find-item
                padding: 50px

            .wrapper-group-find
                max-width: 800px
                padding: 0
                text-align: center

                .title-find
                    max-width: 800px

    .section-review
        padding: 0

@media (max-width: 767.98px)

    .section-worth
        margin-bottom: 80px

        .wrapper-worth
            padding: 40px 0

    .section-intro
        padding-left: 20px
        padding-right: 20px

        .wrapper-intro

            padding-top: 20px

            .intro-text
                font-size: 30px

            .intro-title
                font-size: 50px
                line-height: 50px

            .intro-mini-text
                font-size: 25px

        .wrapper-img-intro
            max-width: 250px

    .footer

        .wrapper-footer
            text-align: left

    .section-review
        margin-bottom: 50px

    .wrapper-footer-link
        display: none

@media (max-width: 575.98px)

    #site-header
        height: 85px
        z-index: 111

    .section-intro
        padding-left: 10px
        padding-right: 10px

        .wrapper-intro
            padding-top: 10px

        .wrapper-img-intro
            max-width: 200px

            .intro-text
                font-size: 25px

            .intro-title
                font-size: 45px
                line-height: 40px

            .intro-mini-text
                font-size: 25px
    .header

        .header-nav-group
            padding: 15px

            .nav

                .language-group
                    padding: 7px

    .footer

        .footer-title-wrapper
            text-align: center

        .wrapper-footer
            text-align: center

            margin-bottom: 20px

        .footer-down
            display: contents

    .section-find

        .wrapper-section-find
            padding: 20px

            .wrapper-group-find

                .title-find
                    font-size: 35px

            .find-item
                padding: 20px

                .find-text:after
                    display: none

    .section-review

        .item-review-full

            .item-review
                padding: 20px 8px


                .item-photo-name
                    font-size: 17px

        .title-review
            font-size: 35px

    .section-worth
        margin-bottom: 80px

        .wrapper-worth

            .worth-title
                font-size: 33px
                margin-bottom: 30px

    .section-item

        .item-title-had
            font-size: 35px
