$mainColor: #dedede
$whiteColor:#FFFFFF
$lightColor: #BAADC0
$logoColor: #B600E3
$infoColor: #41F5C0
$infBorderColor: rgba(65, 245, 192, 0.2)
$ultralightColor: #FCF5FF
$goldColor: #FFD466
$liteGoldColor: #F8B200
$infoBtnColor: rgba(65, 245, 192, 0.16)
$greenColor:#00C389
$darkColor: #0C1523
$primaryColor: #263959
$primaryLightColor: rgba(38, 57, 89, 0.05)
$darkLightColor: #0C1523
