@import "../fonts/fonts.css";
@import "../icon/style.css";
.btn {
  padding: 15px 25px;
}

.btn-info {
  background-color: #41F5C0;
  color: #0C1523;
  border-radius: 9px;
  font-size: 17px;
  line-height: 18px;
  font-family: "RobotoSlab-Regular", serif;
}

.btn-dark {
  background-color: #0C1523;
  color: #BAADC0;
  border-radius: 9px;
  font-size: 16px;
  line-height: 19px;
  font-family: "RobotoSlab-Regular", sans-serif;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.row-padding-15 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.row-padding-15 > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.section_carousel {
  padding-top: 80px;
  margin-bottom: 80px;
}

.wrapper-swiper-cert {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
.wrapper-swiper-cert .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper-swiper-cert .swiper-slide {
  text-align: center;
  font-size: 18px;
}
.wrapper-swiper-cert .swiper-slide img {
  display: block !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.wrapper-swiper-cert .slide-body {
  padding: 15px 0;
  margin: 0 30px;
}
.wrapper-swiper-cert .title {
  display: block;
  text-align: center;
  margin-top: 14px;
  font-size: 14px;
  line-height: 1.45;
}
.wrapper-swiper-cert .swiper-button-prev:after {
  opacity: 0.1;
  color: #0C1523;
}
.wrapper-swiper-cert .swiper-button-next:after {
  opacity: 0.1;
  color: #0C1523;
}
.wrapper-swiper-cert:hover:after {
  width: 100%;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.wrapper-swiper-cert:hover:after:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#btn-show-menu {
  line-height: 1.2;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
  cursor: pointer;
}

#btn-show-menu.hide {
  opacity: 0;
}

.overlay {
  overflow: hidden;
  z-index: 100;
}

.overlay:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 101;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

#menu {
  padding: 40px;
  width: 100%;
  height: 250px;
  background-color: #00C389;
  transform: translateY(-500px);
  position: fixed;
  z-index: 102;
  top: 100px;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

#menu.show {
  transform: translateY(0);
}
#menu.show .burger .btn {
  padding: 0;
}
#menu.show .burger .btn .btn .icon {
  margin-right: 7px;
  margin-top: 0;
}
#menu.show #btn-hide-menu {
  width: 44px;
  height: 44px;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: -60px;
  right: 30px;
  font-size: 14px;
  cursor: pointer;
  color: #262833;
  border-radius: 50%;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}
#menu.show #btn-hide-menu .icon {
  font-size: 45px;
  line-height: 44px;
  opacity: 0.5;
}

.burger {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

.burger li + li {
  margin-top: 8px;
}

.burger li a {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

.burger li a:hover {
  color: #FFD466;
}

body {
  font-family: "RobotoSlab-Regular", sans-serif, "Inter", sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
}

#site-header {
  position: fixed;
  height: 100px;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  border-bottom: 1px solid #0C1523;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}

#site-header.hide {
  top: -120px;
}

.header {
  margin-bottom: 92px;
  height: 100px;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.header .header-nav-group {
  padding: 25px;
}
.header .header-nav-group .nav-group {
  display: flex;
}
.header .header-nav-group .nav-group .nav-link {
  font-size: 20px;
  font-family: "RobotoSlab-Regular", sans-serif;
  color: #0C1523;
  margin-left: 22px;
  -webkit-transition: 0.5s ease;
}
.header .header-nav-group .nav-group .nav-link:after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: #0C1523;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header .header-nav-group .nav-group .nav-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.header .header-nav-group .nav-group .nav-link:active {
  color: #00C389;
}
.header .header-nav-group .nav-group .nav-link:hover:after {
  width: 100%;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.header .header-nav-group .nav {
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.header .header-nav-group .nav .nav-link {
  font-size: 20px;
  font-family: "RobotoSlab-Regular", sans-serif;
  color: #FAFBFF;
  margin-left: 32px;
  -webkit-transition: 0.5s ease;
}
.header .header-nav-group .nav .nav-link:after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: #FAFBFF;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header .header-nav-group .nav .nav-link:hover:after {
  width: 100%;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.header .header-nav-group .nav .nav-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.header .header-nav-group .nav .nav-link:active {
  color: #00C389;
}
.header .header-nav-group .nav .language-group {
  padding: 4px 16px;
  display: flex;
}
.header .header-nav-group .nav .language-group .language {
  border-radius: 100%;
  color: #0C1523;
  text-align: center;
  border: 1px solid #0C1523;
  margin-left: 15px;
  padding: 4px;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  -webkit-transition: 0.5s ease;
  opacity: 0.5;
}
.header .header-nav-group .nav .language-group .language.active:hover {
  transform: scale(1.1);
  transition: 0.5s;
  opacity: 0.9;
  background-color: #FAFBFF;
}
.header .header-nav-group .header-logo {
  margin-right: 100px;
}
.header .header-nav-group .header-logo img {
  height: 60px;
  opacity: 0.7;
}

.background-img {
  background: url("../img/bg-ava-2.png") no-repeat top right;
  background-size: 760px;
}

.background .background-overlay {
  background: rgba(30, 30, 30, 0.11);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.section-video-background {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.section-video-background .video-background {
  width: 100%;
  z-index: 100;
  background-size: cover;
}

.section-intro {
  padding-top: 120px;
  padding-bottom: 330px;
  background-color: #FFFFFF;
}
.section-intro .wrapper-intro {
  padding-top: 100px;
}
.section-intro .wrapper-intro .intro-text {
  font-family: "RobotoSlab-Thin", sans-serif;
  font-size: 43px;
  line-height: 69px;
  color: #0C1523;
  margin-bottom: 5px;
  max-width: 295px;
}
.section-intro .wrapper-intro .intro-title {
  font-size: 70px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 91px;
  margin-bottom: 36px;
  text-shadow: 2px -1px 1px rgba(68, 68, 68, 0.7);
}
.section-intro .wrapper-intro .intro-mini-text {
  font-size: 32px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 40px;
  margin-bottom: 40px;
  text-shadow: 1px -1px 1px rgba(68, 68, 68, 0.38);
}
.section-intro .wrapper-img-intro {
  margin: 0 auto;
  max-width: 470px;
}

.section-worth {
  position: relative;
  padding: 100px 0;
  background: #FFFFFF;
}
.section-worth .wrapper-worth {
  background: #FAFBFF;
  box-shadow: 0 0 3px rgba(33, 33, 33, 0.2);
  border-radius: 20px;
  padding: 40px 40px 60px;
}
.section-worth .wrapper-worth .worth-title {
  font-size: 42px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 51px;
  text-align: center;
  margin-bottom: 68px;
  color: #0C1523;
  text-shadow: 2px 0 1px rgba(68, 68, 68, 0.7);
}
.section-worth .wrapper-worth .worth-text {
  font-size: 20px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 25px;
  text-align: center;
  color: #0C1523;
}
.section-worth .wrapper-worth .worth-text-work {
  font-size: 20px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 25px;
  text-align: center;
}

.section-find {
  margin-bottom: 138px;
  position: relative;
  background-color: #FFFFFF;
}
.section-find .wrapper-section-find {
  padding: 120px 50px;
  color: #FAFBFF;
}
.section-find .wrapper-section-find .wrapper-group-find {
  max-width: 400px;
  padding-left: 50px;
  padding-top: 24px;
}
.section-find .wrapper-section-find .wrapper-group-find .title-find {
  font-size: 42px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 52px;
  color: #0C1523;
  margin-bottom: 40px;
  max-width: 330px;
  text-shadow: 2px 0 1px rgba(68, 68, 68, 0.7);
}
.section-find .wrapper-section-find .find-item {
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-width: 458px;
  max-height: 300px;
  padding: 50px 80px 50px 50px;
  border-bottom: 3px solid;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  border-image: linear-gradient(to right, rgba(233, 255, 240, 0.25), rgba(65, 245, 192, 0.78), rgba(65, 245, 192, 0.82), rgba(242, 245, 243, 0.13)) 47% 0;
}
.section-find .wrapper-section-find .find-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.1);
  transition: 0.3s;
}
.section-find .wrapper-section-find .find-item .icon {
  font-size: 40px;
  color: #0C1523;
  margin-bottom: 15px;
}
.section-find .wrapper-section-find .find-item .find-item-element {
  background-color: rgba(65, 245, 192, 0.1);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 11px;
  height: 60px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
}
.section-find .wrapper-section-find .find-item .title-item {
  font-size: 30px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 35px;
  color: #0C1523;
  margin-bottom: 17px;
  padding-top: 15px;
  text-shadow: 1px 0 1px rgba(68, 68, 68, 0.41);
}
.section-find .wrapper-section-find .find-item .find-text {
  font-size: 18px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 27px;
  color: #0C1523;
  margin-bottom: 20px;
  position: relative;
}
.section-find .wrapper-section-find .find-item .find-text:after {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background: #0C1523;
  top: 8px;
  left: 15px;
  transform: rotate(45deg);
}

.section-item {
  margin-bottom: 120px;
}
.section-item .item-title-had {
  font-size: 42px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 51px;
  color: #0C1523;
  text-align: center;
  margin-bottom: 68px;
  text-shadow: 2px 0 1px rgba(68, 68, 68, 0.7);
}
.section-item .item-text {
  font-size: 18px;
  font-family: "RobotoSlab-Thin", sans-serif;
  line-height: 33px;
  color: #0C1523;
  text-align: center;
  max-width: 530px;
  margin: 0 auto 60px;
}
.section-item .item-full {
  margin-bottom: 60px;
}
.section-item .item-full .item {
  text-align: center;
  padding: 90px 0 90px;
  min-width: 372px;
  border: 1px solid #FCF5FF;
  border-radius: 5px;
  color: #BAADC0;
}
.section-item .item-full .item .icon {
  width: 70px;
  height: 70px;
  background-color: rgba(38, 57, 89, 0.05);
  text-align: center;
  display: block;
  margin: 0 auto 30px;
  border-radius: 6px;
  font-size: 28px;
  padding: 21px;
  color: #263959;
}
.section-item .item-full .item .img-icon {
  width: 70px;
  height: 70px;
  background-color: rgba(38, 57, 89, 0.05);
  text-align: center;
  display: block;
  margin: 0 auto 30px;
  border-radius: 6px;
  font-size: 28px;
  padding: 18px;
  color: #263959;
}
.section-item .item-full .item .item-title {
  font-size: 31px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 38px;
  color: #0C1523;
  margin-bottom: 20px;
}
.section-item .item-full .item .item-text-mini {
  font-size: 18px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 27px;
  color: #0C1523;
  margin-bottom: 20px;
}

.section-mini-start {
  margin-bottom: 130px;
  background: #FFFFFF;
  padding: 100px 0;
}
.section-mini-start .title-start {
  font-size: 31px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 38px;
  color: #0C1523;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 1px 0 1px rgba(68, 68, 68, 0.25);
}
.section-mini-start .start-text {
  font-size: 18px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 28px;
  color: #0C1523;
  text-shadow: 1px 0 1px rgba(68, 68, 68, 0.23);
}

.section-review {
  padding: 120px 0;
  margin-bottom: 200px;
}
.section-review img {
  max-height: 349px;
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.76);
  border-radius: 20px;
  -webkit-transition: 0.3s ease;
}
.section-review img:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}
.section-review .title-review {
  font-size: 42px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 59px;
  color: #0C1523;
  text-align: center;
  margin-bottom: 68px;
  text-shadow: 2px 0 1px rgba(68, 68, 68, 0.7);
}
.section-review .text-review-title {
  font-size: 18px;
  font-family: "RobotoSlab-Thin", sans-serif;
  line-height: 31px;
  color: #0C1523;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 529px;
}
.section-review .item-review-full .item-review {
  color: #FAFBFF;
  border-radius: 20px;
  border: 1px rgba(65, 245, 192, 0.2) solid;
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
  -webkit-transition: 0.3s ease;
  padding: 50px 60px;
  max-height: 364px;
  margin: 0 auto;
  list-style: none;
}
.section-review .item-review-full .item-review:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: 0.3s;
}
.section-review .item-review-full .item-review .icon {
  font-size: 30px;
  color: #00C389;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  -webkit-transition: 0.3s ease;
}
.section-review .item-review-full .item-review .icon:hover {
  color: #0C1523;
  transition: 0.3s;
}
.section-review .item-review-full .item-review .wrapper-tel {
  margin-bottom: 20px;
  text-align: left;
}
.section-review .item-review-full .item-review .wrapper-tel:last-child {
  margin: 0;
}
.section-review .item-review-full .item-review .item-photo-name {
  font-size: 22px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 27px;
  color: #0C1523;
  -webkit-transition: 0.3s ease;
}
.section-review .item-review-full .item-review .item-photo-name:hover {
  color: #00C389;
}
.section-review .item-review-full .item-review .item-photo-name:active {
  color: #00C389;
}
.section-review .item-review-full .item-review .item-photo-text {
  font-size: 20px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 21px;
  color: #0C1523;
  margin-bottom: 10px;
}

.footer {
  padding: 10px 0;
  background-color: #FCF5FF;
  position: relative;
}
.footer .wrapper-footer {
  text-align: center;
}
.footer .wrapper-footer a {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 30px;
}
.footer .wrapper-footer img {
  width: 30px;
  height: 30px;
}
.footer .footer-down {
  font-size: 14px;
  font-family: "RobotoSlab-Regular", sans-serif;
  line-height: 20px;
  color: #0C1523;
  float: right;
  text-align: center;
}
.footer .footer-down .color-footer {
  font-size: 22px;
  font-family: "RobotoSlab-Bold", sans-serif;
  line-height: 21px;
  color: #00C389;
  display: block;
}

@media (max-width: 1199.98px) {
  .row-padding-15 {
    margin-left: -12px !important;
    margin-right: -12px !important;
  }
  .row-padding-15 > * {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .section-item .item-full .item {
    min-width: auto;
  }
}
.header .header-nav-group .header-logo {
  margin-right: 0;
}
.header .header-nav-group .nav .language-group .language {
  padding: 6px;
}

/*# sourceMappingURL=%D1%81ommon.css.map */
