@import "../fonts/fonts.css";
@import "../icon/style.css";
.btn {
  padding: 15px 25px;
}

.btn-info {
  background-color: #41F5C0;
  color: #0C1523;
  border-radius: 9px;
  font-size: 17px;
  line-height: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.btn-dark {
  background-color: #0C1523;
  color: #BAADC0;
  border-radius: 9px;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.btn-success {
  background-color: rgba(65, 245, 192, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 11px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.row-padding-15 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.row-padding-15 > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

body {
  font-family: "RobotoSlab-Regular", serif, "Inter", sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
}

#site-header {
  position: fixed;
  height: 120px;
  background: rgba(255, 255, 255, 0.47);
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  border: 1px solid #0C1523;
}

#site-header.hide {
  top: -120px;
}

.header {
  margin-bottom: 92px;
  height: 100px;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
}
.header .header-nav-group {
  padding: 30px 0;
}
.header .header-nav-group .nav-group {
  display: flex;
}
.header .header-nav-group .nav-group .nav-link-active {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #0C1523;
}
.header .header-nav-group .nav-group .nav-link {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #0C1523;
  margin-left: 22px;
}
.header .header-nav-group .nav {
  flex-wrap: nowrap;
}
.header .header-nav-group .nav .nav-link {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #0C1523;
  margin-left: 34px;
}
.header .header-nav-group .header-logo {
  margin-right: 126px;
}

.section-background {
  background: url("../img/background.png") no-repeat right top;
  background-size: 905px 905px;
}

.section-intro {
  margin-bottom: 135px;
  padding-top: 200px;
}
.section-intro .wrapper-intro {
  padding: 1px 11px;
}
.section-intro .wrapper-intro .intro-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 43px;
  line-height: 69px;
  color: #0C1523;
  margin-bottom: 5px;
  max-width: 295px;
}
.section-intro .wrapper-intro .intro-title {
  font-size: 75px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 91px;
  margin-bottom: 36px;
}
.section-intro .wrapper-intro .intro-mini-text {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 40px;
}
.section-intro .wrapper-btn {
  margin-bottom: 160px;
}
.section-intro .wrapper-btn .link {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 23px;
  padding: 15px 25px;
  color: #0C1523;
  margin-left: 1px;
}
.section-intro .wrapper-mini-logo {
  max-width: 537px;
  padding-top: 20px;
}

.section-worth {
  margin-bottom: 150px;
}
.section-worth .wrapper-worth .worth-title {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 51px;
  text-align: center;
  margin-bottom: 68px;
}
.section-worth .wrapper-worth .item .worth-number {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 38px;
  text-align: center;
  display: block;
  margin-bottom: 12px;
}
.section-worth .wrapper-worth .item .worth-text {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.section-find {
  margin-bottom: 138px;
}
.section-find .wrapper-section-find {
  padding: 120px 50px;
  color: #FAFBFF;
}
.section-find .wrapper-section-find .wrapper-group-find {
  max-width: 400px;
  padding-left: 50px;
  padding-top: 24px;
}
.section-find .wrapper-section-find .wrapper-group-find .title-find {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 52px;
  color: #0C1523;
  margin-bottom: 40px;
  max-width: 330px;
}
.section-find .wrapper-section-find .find-item {
  max-width: 458px;
  max-height: 265px;
  padding: 50px 80px 50px 50px;
  border-bottom: 5px solid;
  border-radius: 5px;
  border-image: linear-gradient(to right, rgba(233, 255, 240, 0.39), #41F5C0, #41F5C0, rgba(242, 245, 243, 0.13)) 47% 0;
}
.section-find .wrapper-section-find .find-item .icon {
  font-size: 18px;
  color: #00C389;
  margin-bottom: 15px;
}
.section-find .wrapper-section-find .find-item .title-item {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 35px;
  color: #0C1523;
  margin-bottom: 17px;
  padding-top: 15px;
}
.section-find .wrapper-section-find .find-item .find-text {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 27px;
  color: #0C1523;
  max-width: 325px;
}

.section-item {
  margin-bottom: 120px;
}
.section-item .item-title-had {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 51px;
  color: #0C1523;
  text-align: center;
  margin-bottom: 40px;
}
.section-item .item-text {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 33px;
  color: #0C1523;
  text-align: center;
  max-width: 530px;
  margin: 0 auto 60px;
}
.section-item .item-full {
  margin-bottom: 60px;
}
.section-item .item-full .item {
  text-align: center;
  padding: 90px 0 90px;
  min-width: 372px;
  border: 1px solid #FCF5FF;
  border-radius: 5px;
  color: #BAADC0;
}
.section-item .item-full .item .icon {
  width: 70px;
  height: 70px;
  background-color: rgba(38, 57, 89, 0.05);
  text-align: center;
  display: block;
  margin: 0 auto 30px;
  border-radius: 6px;
  font-size: 28px;
  padding: 21px;
  color: #263959;
}
.section-item .item-full .item .item-title {
  font-size: 31px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 38px;
  color: #0C1523;
  margin-bottom: 20px;
}
.section-item .item-full .item .item-text-mini {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 27px;
  color: #0C1523;
  margin-bottom: 20px;
}

.section-mini-start {
  margin-bottom: 130px;
}
.section-mini-start .title-start {
  font-size: 31px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 38px;
  color: #0C1523;
  margin-bottom: 15px;
}
.section-mini-start .start-text {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #0C1523;
}

.section-review {
  margin-bottom: 80px;
  padding: 120px 0;
  color: #FAFBFF;
}
.section-review .title-review {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 59px;
  color: #0C1523;
  text-align: center;
  margin-bottom: 40px;
}
.section-review .text-review-title {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 31px;
  color: #0C1523;
  text-align: center;
  margin: 0 auto 60px;
  max-width: 529px;
}
.section-review .item-review-full .item-review {
  text-align: center;
  border-radius: 13px;
  border: 1px rgba(65, 245, 192, 0.2) solid;
  padding: 35px 40px 40px;
}
.section-review .item-review-full .item-review .btn {
  margin-bottom: 50px;
  border: 1px solid #FFD466;
  border-radius: 13px;
  color: #F8B200;
  width: 84px;
  height: 50px;
  padding: 10px;
}
.section-review .item-review-full .item-review .icon {
  font-size: 17px;
  color: #F8B200;
  margin: 0 auto;
  text-align: center;
  padding-right: 10px;
}
.section-review .item-review-full .item-review .text-review {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #0C1523;
  margin-bottom: 78px;
}
.section-review .item-review-full .item-review .item-photo {
  margin-bottom: 12px;
}
.section-review .item-review-full .item-review .item-photo-name {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 27px;
  color: #0C1523;
  margin-bottom: 10px;
}
.section-review .item-review-full .item-review .item-photo-text {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 21px;
  color: #0C1523;
}

.footer {
  padding: 25px 0;
}
.footer .footer-mail {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 35px;
  color: #0C1523;
}
.footer a {
  margin-right: 40px;
  font-size: 25px;
}

@media (max-width: 1199.98px) {
  .row-padding-15 {
    margin-left: -12px !important;
    margin-right: -12px !important;
  }
  .row-padding-15 > * {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  .section-item .item-full .item {
    min-width: auto;
  }
}
.section-find .wrapper-section-find .wrapper-group-find {
  max-width: 400px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
.section-find .wrapper-section-find .wrapper-group-find .title-find {
  max-width: 400px;
}
.section-find .wrapper-section-find .find-item {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

/*# sourceMappingURL=%D1%81ommon.css.map */
