@font-face {
  font-family: 'Inter-Black';
  src: url('Inter-Black.eot');
  src: url('Inter-Black.eot?#iefix') format('embedded-opentype'),
       url('Inter-Black.svg#Inter-Black') format('svg'),
       url('Inter-Black.ttf') format('truetype'),
       url('Inter-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

