@font-face {
    font-family: 'RobotoSlab-Thin';
    src: url('RobotoSlab/RobotoSlab-Thin.eot');
    src: url('RobotoSlab/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
    url('RobotoSlab/RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg'),
    url('RobotoSlab/RobotoSlab-Thin.ttf') format('truetype'),
    url('RobotoSlab/RobotoSlab-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('RobotoSlab/RobotoSlab-Regular.eot');
    src: url('RobotoSlab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('RobotoSlab/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg'),
    url('RobotoSlab/RobotoSlab-Regular.ttf') format('truetype'),
    url('RobotoSlab/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('RobotoSlab/RobotoSlab-Bold.eot');
    src: url('RobotoSlab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('RobotoSlab/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg'),
    url('RobotoSlab/RobotoSlab-Bold.ttf') format('truetype'),
    url('RobotoSlab/RobotoSlab-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('inter/Inter-Bold.svg');
    src: url('inter/Inter-Bold.svg?#iefix') format('embedded-opentype'),
    url('inter/Inter-Bold.svg#Inter-Thin') format('svg'),
    url('inter/Inter-Bold.svg') format('truetype'),
    url('inter/Inter-Bold.svg') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('inter/Inter-ExtraBold.eot');
    src: url('inter/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('inter/Inter-ExtraBold.svg#Inter-ExtraBold') format('svg'),
    url('inter/Inter-ExtraBold.ttf') format('truetype'),
    url('inter/Inter-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('inter/Inter-Regular.svg');
    src: url('inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('inter/Inter-Regular.svg#Inter-ExtraBold') format('svg'),
    url('inter/Inter-Regular.ttf') format('truetype'),
    url('inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}


@font-face {
    font-family: 'Inter-SemiBold';
    src: url('inter/Inter-SemiBold.eot');
    src: url('inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('inter/Inter-SemiBold.svg#Inter-SemiBold') format('svg'),
    url('inter/Inter-SemiBold.ttf') format('truetype'),
    url('inter/Inter-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}


@font-face {
    font-family: 'Inter-Medium';
    src: url('inter/Inter-Medium.eot');
    src: url('inter/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('inter/Inter-Medium.svg#Inter-Medium') format('svg'),
    url('inter/Inter-Medium.ttf') format('truetype'),
    url('inter/Inter-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}


